/*
Name: Origines WordPress Theme
GitHub URI: https://github.com/haroldparis/origines
Description: Origines Specific CSS
Version: 0.2
Author: Harold Paris
Twitter: @haroldparis
Author website: http://www.tribeleadr.com/
Licence:
Copyright 2013 TRIBELEADR
This file is part of Origines.
Origines is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.
Origines is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Origines.  If not, see <http://www.gnu.org/licenses/>.
*/
 

body {
	padding: 60px 0 20px 0;
}

.alignright {
	float: right;
	margin-left: 10px;
}

.alignleft {
  	float: left;
  	margin-right: 10px;
}

body.admin-bar .navbar-fixed-top{ 
	top: 28px; 
}
